#editor {
  width: 100%;
  resize: vertical;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    padding: 0;
    border: none;
    display: flex;

    &__img {
      width: 16px;
      cursor: pointer;
    }
  }
}